body{
background-color: #f8f8f8;
}
h1{
 text-align: center;
}
.book-library{
	background-color: rgb(255,255,255);
	align-items: center;
}
.book{
	background-color:  rgb(119,119,119);
}
 img{
	padding: 20px 180px;
} 
.price{
	background-color:rgb(46,204,113);
	border-radius: 10px;
   position: relative;
	bottom: 15px; 
	text-align: center;
	color: white;
}
p{
	position: relative;
	bottom: 20px;
}